body{
    background-color: rgb(239, 245, 250);
}
table, td{
    border: 2px solid black;
    height: 50px;
    width: 850px;
}
th{
    background-color: rgb(227, 242, 254);
}
td{
    text-align: center;
    background-color: rgb(241, 246, 250);
}
.ProPic{
    margin: 0px 150px;
}
.logo{
    margin-left: 150px;
}
h1{
    margin-left: 100px;
}